.flex {
  display: flex;
}
.body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 0.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 1rem;
  height: 4rem;
}
input{
  height: 1.5rem;
  width: 18rem;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid black;
}
.main {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
}
.left{
  padding: 2rem;
}
.aside {
  padding: 0 1rem;
  border-left: 1.5px solid  hsl(180, 14%, 20%);
  width: 30%;
}
.aside div h2,h3{
  margin-bottom: 0.5rem;
  color:  hsl(180, 14%, 20%);
}
.aside p{
  color: hsl(180, 8%, 52%)
  ;
}
.footer {
  padding: 2rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog {
  border-radius: 5px;
  margin-bottom: 1rem;
}
.top{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.blog h4{
  color:   hsl(180, 14%, 20%);
}
.blog p {
  color: hsl(180, 8%, 52%)
  ;
}
img{
  height: 2.9rem;
  border-radius: 50%;
}
.recommended{

  margin-top: 1rem;
}
.recommended div{
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.recommended div p{
  text-align: center;
  border: 1px solid  hsl(180, 14%, 20%);
  padding: 0.5rem;
  border-radius: 10px;
}
.tofollow{
  margin-top: 1rem;
}
.tofollow .desc{
  display: flex;
  gap: 1rem;
}

.tofollow button{
  height: 1.5rem;
  width: 5rem;
  border-radius: 10px;
  border: 1px solid  hsl(180, 14%, 20%);
  cursor: pointer;
  text-align: center;
}
.follow p{
  margin-bottom: 0.5rem;
}
.card{
  margin-bottom: 0.5rem;
}
.title{
  color: hsl(180, 29%, 50%);
}
.not-found{
  text-align: center;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.details{
  padding: 7rem;
}
.details img{
  width: 100%;
  height: 20rem !important;
  border-radius: 0;
}
@media screen and (max-width: 600px) {
  .header{
    display: none;
  }
  .main{
    flex-direction: column;
    padding: 0;
  }
  .aside{
    width: 100%;
    border: none;
    padding: 2rem;
  }
  .footer{
    padding: 2rem;
  }
}